<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Prostatic/css/bootstrap.min.css">
    <!-- <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="../../Prostatic/js/bootstrap.bundle.min.js"></script>
    <title>智能页面</title>
    <style>
        #deltoast {
            /* width: 300px; */
            top: 40%;
            left: 50%;
            translate: -150px;
            display: none;
            position: fixed;

        }
        .alter {
            background-color: bisque;
            
        }
        .footerbtn {
            display: flex;
            justify-content: space-between;
        }
        .tdbtn {
            width: 55px;
        }
    </style>
    <script type="text/javascript">
        let devid = null;
        let toastid = null;
        function showhtml(devdataid){
            devid = devdataid;
            // toastid = document.getElementById('myModal');
            // toastid.style.display='block';
        }
        function hidehtml(){
            toastid.style.display='none';
            toastid = null;
        }
        function deletediv(){
            const requestOptions = {
                method:"POST",
                headers:{
                    'Content-Type':'application/json'                
                },
                body: JSON.stringify({ devid:devid })
            };
            fetch('/deldev',requestOptions)
            .then(response  => {
                return response.json()
            })
            .then(data  => {
                console.log(data)
                // toastid.style.display='none';
                // toastid = null;
                window.location.reload();
            })
            // toastid.style.display='none';
            // toastid = null;
            }
    </script>
</head>
<body>
    <div class="row">
        <div class="col-sm-2 container mt-3">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-2 mt-2">
                    <label for="deviceid" class="form-label">设备MAC地址:</label>
                    {{ form.deviceid(id="{{ form.deviceid }}",class="form-control",placeholder="设备MAC地址") }}
                </div>
                <div class="mb-2 mt-2">
                    <label for="name" class="form-label">设备名称:</label>
                    {{ form.name(class="form-control",placeholder="设备名称") }}
                </div>
                <div class="mb-2 mt-2">
                    <label for="type" class="form-label">设备类型:</label>
                    {{ form.type(class="form-control",placeholder="设备类型") }}
                </div>
                <div class="mb-2 mt-2">
                    <label for="serviceid" class="form-label">UUID:</label>
                    {{ form.serviceid(class="form-control",placeholder="UUID") }}
                </div>
                <div class="mb-2 mt-2">
                    <label for="charid" class="form-label">蓝牙特征值:</label>
                    {{ form.charid(class="form-control",placeholder="蓝牙特征值") }}
                </div>
                <div class="mb-2 mt-2">
                    <label for="startSampling" class="form-label">开始命令:</label>
                    {{ form.startSampling(class="form-control") }}
                </div>
                <div class="mb-2 mt-2">
                    <label for="endSampling" class="form-label">结束命令:</label>
                    {{ form.endSampling(class="form-control") }}
                </div>
                <div class="mb-2 mt-2">
                    {{ form.savepush(class="btn btn-primary") }}
                </div>
                {% for message in get_flashed_messages() %}
                    <div class="mb-2 mt-2" style="text-align: center;"> {{ message }}</div>
                {% endfor %}
            </form>
        </div>
        <div class="col-sm-10 container mt-3">
            <h2>设备列表</h2>
            <p>蓝牙设备链接表:</p> 
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>设备MAC地址</th>
                    <th>设备名称</th>
                    <th>设备类型</th>
                    <th>UUID</th>
                    <th>蓝牙特征值</th>
                    <th>开始命令</th>
                    <th>结束命令</th>
                  </tr>
                </thead>
                <tbody>
                    {% for devs in devdata %}
                    <tr>
                        <td>{{ devs.deviceid }}</td>
                        <td>{{ devs.devname }}</td>
                        <td>{{ devs.type }}</td>
                        <td>{{ devs.serviceid }}</td>
                        <td>{{ devs.charid }}</td>
                        <td>{{ devs.startSampling }}</td>
                        <td>{{ devs.endSampling }}</td>
                        <div>
                            <td>
                                <button class="btn btn-primary tdbtn" data-bs-toggle="modal" data-bs-target="#myModal" onclick="showhtml(('{{ devs.deviceid }}'))">编辑</button>
                            </td>
                            <td>
                                <button class="btn btn-primary tdbtn" data-bs-toggle="modal" data-bs-target="#myModal" onclick="showhtml(('{{ devs.deviceid }}'))">删除</button>
                            </td>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>       
    </div>
    <div class="modal" id="myModal" style="top: 230px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">确定删除设备信息？</h4>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deletediv()">确定</button>
                    <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="hidehtml()">关闭</button> -->
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="deltoast">
        <div class="alert alert-dark">
          <p class="display-6 text-center">确定删除设备信息？</p>
          <div class="footerbtn">
            <button class="btn btn-primary" onclick="deletediv()">确定</button>
            <button class="btn btn-primary" onclick="hidehtml()">取消</button>
          </div>
        </div>
    </div> -->
</body>
</html>